@layer reset, base, tokens, recipes, utilities;

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
} 

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

hr {
  margin: 1rem 0;
}

p {
  margin: 0.5rem 0;
}
